.pad
  %ul{class:"nav nav-pills nav-stacked"}
    %li{role:"presentation"}
      =link_to help_basic_usage_path, nil do
        Basic Usage
    %li
      =link_to(contact_us_path, nil) do
        Contact Us
