- keywords.each_with_index do |keyword,index|
  -if index != keywords.length - 1
    = "<span cal-decrypt>#{keyword.text}</span>,".html_safe
  -else 
    ="<span cal-decrypt>#{keyword.text}</span>".html_safe