<div ng-controller='keywordSelector'>
    <label>Keywords</label>
    <tags-input ng-model="attachedKeywords" placeholder="add a keyword">
    <auto-complete source="loadItems($query)"></auto-complete>
    </tags-input>
    <input name = 'keyword_string' type="hidden" value='{{attachedKeywordsEncrypted | json}}'>
</div>