.pad.narrow
  %ul.nav.nav-pills.nav-stacked
    %li
      %a{href: flashcards_manager_new_path({macro: 'multi_choice'})}
        =macro_title 'multi_choice'
    %li
      %a{href: flashcards_manager_new_path({macro: 'fill_blank'})}
        =macro_title 'fill_blank'
    %li
      %a{href: flashcards_manager_new_path({macro: 'foreign_vocab'})}
        Foreign Vocab
    %li
      %a{href: flashcards_manager_new_path({macro: 'custom'})}
        Custom
