%script
  = "CARDS_LIST = #{@flashcards.pluck(:id).to_s}"
  ATTACHED_KEYWORDS = [];
.pad
  %div{"ng-controller"=>"exportCards"}
    %div{"ng-show"=>"!loading","ng-cloak"=>true}
      %form{class: "form-group"}
        %textarea.form-control{class:"export-text-area",id: "export", "ng-model"=>"exportText"}
    %div{"ng-show"=>"loading"}
      %loading-spinner
