.pad
  %ul{class:"nav nav-pills nav-stacked"}
    %li{role:"presentation"}
      =link_to flashcards_manager_new_path, nil do
        New Flashcard
    %li{role:"presentation"}
      =link_to flashcards_manager_manage_path, nil do
        Manager (experimental)