.section
  %h2 
    Other Cool Stuff
    %small
      To Persuade You Further
  .row
    .col-sm-4
      %h3 Small and Independent
      .lead
        Etch is a one-man enterprise, so by using Etch you support a (very) small business.  You also give the Etch creator more freedom to create more cool apps.
    .col-sm-4
      %h3 Developed By a PhD
      .lead
        =render partial: 'etch/welcome/phd_dev'
    .col-sm-4
      %h3 Expert Help
      .lead
        If you ever email us for help, unless this app really blows up, the guy answering you will be the chief engineer and creator himself&mdash;not some lame help-desk guy.
      