%section
  %h2 <strong>Step One:</strong> Decide What you Want to Remember
  .row
    .col-sm-3
      %img.img-responsive.hidden-xs{"src"=>image_path('college-students-doing-homework-collection-003.png'),"height"=>"300","width"=>"300"}
    .col-sm-9
      .lead
        Make notes about <strong>anything</strong> you want to remember.  Maybe an interesting <strong>history</strong> book you are reading or stuff you need to remember all year for a <strong>final exam</strong> or even just the <strong>birthdays</strong> of your coworkers.  Anything.  School material.  Your anniversary.  Your lawyer's phone number for that one phone call from jail.  You can use Etch to remember <strong>anything</strong> important to you.
%section
  %h2 <strong>Step Two:</strong> Make Flashcards
  .row
    .col-sm-9
      .lead
        %p
          Turn the information into flashcards.  It is easy to build your flashcards right inside Etch in your browser.  For simple text-based content like "When is Sally Jones's birthday?", you can just type in the front and back side <strong>like you were working with paper index cards</strong>.
        %p XeroCross adds: "I like to have Etch open on a computer nearby when I read or study so I can quickly create new flashcards on the fly."

    .col-sm-3
      %img.img-responsive.hidden-xs{"src"=>image_path('college-students-doing-homework-collection-006.png'),"height"=>"300","width"=>"300"}
%section
  %h2 <strong>Step Three:</strong> Etch Schedules Your Reviews

  .row
    .col-sm-5
      %img.img-responsive.hidden-xs{"src"=>image_path('REVIEWS.png')}
    .col-sm-7
      .lead
        This part is something Etch does for you.  At first, it makes certain guesses about when you need to review your flashcards.  <strong>Reviews get further apart each time</strong>.  As you use Etch, if you give it feedback about whether reviews came too soon or too late, then Etch <strong>adjusts</strong> itself to <strong>better fit you</strong>, personally.
%section
  %h2 <strong>Step Four:</strong> Review As Needed
  .row
    .col-sm-9
      .lead
        <p>If there are any <strong>new</strong> cards you still have to learn, review those every day.  Don't mark them as memorized until you think you could easily remember each one for <strong>at least 5 days without reviewing</strong>.  After that, mark the card as memorized.</p>

        <p>Also log in daily or so to check if cards are <strong>due for review</strong>.  If so, <strong>review</strong> them and mark them as reviewed.  Doing reviews should be relatively painless, and you might choose to do them over morning coffee.  Etch is made to work well on <strong>mobile devices</strong>.
        </p>
    .col-sm-3
      %img.img-responsive.hidden-xs{"src"=>image_path('using-tablets-collection-mary-007.png'),"height"=>"300","width"=>"300"}

      
      
      