%h2 Math and Science
.row
  .col-sm-4
    %img.img-responsive{"style"=>"border-style:solid;border-width:1px;margin-bottom:15px", "src"=>asset_path('math_support.png'),"height"=>"300","width"=>"300"}
  .col-sm-8
    .lead
      Etch uses the very powerful <a href="https://www.mathjax.org">MathJax</a> to support math and science notation in your cards.  This means you can include math and science symbols using LaTeX or other notations and tools provided my MathJax.

    


