%h2 Mobile Support
.row
  .col-sm-2
    %img.img-responsive.hidden-xs{"src"=>asset_path('woman_with_phone.png'),"height"=>"300","width"=>"300"}
  .col-sm-10
    .lead
      Yes, Etch works beautifully on mobile devices.  For practical reasons, we suggest that you <strong>create and edit</strong> your flashcards on a full-size device with a real keyboard, but we definitely recommend you try <strong>reviewing</strong> your cards on your <strong>smartphone or tablet</strong> on the go.  It's easy and it works well, and we use Etch on a smartphone like that all the time.
    


