#signup.section
  %h2 
    Sign Up
    <small>No ads ever.  Basic use is free.</small>
  .lead
    XeroCross says: "I am also suspicious of any service that claims to be free if I cannot see how the company is making money off it.  Simply put, the current business model here is pan-handling.  Etch exists because I want it to exist so I can use it.  Now you can too.  You will see buttons at the bottom of every page inviting you to tip me.  That is the only way I make any money off this app."
  =link_to(account_new_path, class:'btn btn-success btn-lrg') do
    Sign Up Now
