.section
  %h2 
    Another Flashcard Program?
    %small
      Not Exactly.
  .row
    .col-sm-4
      %h3 Reminders
      .lead
        =render partial: 'etch/welcome/reminders'
    .col-sm-4
      %h3 Privacy
      .lead
        = render partial: 'etch/welcome/privacy'
    .col-sm-4
      %h3 Power
      .lead
        = render partial: 'etch/welcome/power'
  .row
    .col-sm-4
      %h3 Etch Learns
      .lead
        =render partial: 'etch/welcome/adaptation'
    .col-sm-4
      %h3 Study Anywhere
      .lead
        =render partial: 'etch/welcome/use_anywhere'
    .col-sm-4
      %h3 Opinionated Helpers
      .lead
        =render partial: 'etch/welcome/flashcard_helpers'