.section
  %h2 
    Q&amp;A
      %h3 Can you put images/pictures in the flashcards?
      .lead
        %p Yes and no.  Images are large files, so hosting a lot of images for users would be very costly.  There is no way to upload images here.  However, you can write any HTML you want into your flashcards.  That means if you want images, and if you can find someplace else to host them, then you can link to the images using an ordinary HTML image tag, and that way you can include images.
        %p It's not ideal, and we hope to make this easier in the future.  If you want more and better features, consider tipping the developer.
      %h3 