%hr.featurette-divider
.featurette
  =image_tag image_path('memorize_cards.png'), class:'featurette-image pull-right'
  %h2.featurette-heading
    Learning Info
    %small 
      Checkmate.
  %p.lead
    The "Memorize New Cards" view shows you all the cards you still need to memorize.  You can scroll left and right through this list.  Tapping the screen will reveal or hide the answer portion of the card&mdash;like the back side of a flashcard.  When you load the page, the answers are hidden of course.  Cards stay here as long as you want.  When you are ready, you click the button to indicate that you have memorized this card.  At this point, the card disappears from the Memorize New Cards view and it goes into spaced review.
%hr.featurette-divider