<div class="long-text container-fluid">
<div class="pad narrow">

    <p>
        On its surface, Etch looks like a flashcard app, and it is that&mdash;but the real purpose of Etch is spaced repetition.  The idea is to review information again and again at intervals and remember it indefinitely.  
    </p>
    
    <p>
        Spaced repetition is not a new idea.  A multitude of flashcard apps and even spaced repetition apps existed before Etch.  XeroCross developed Etch because we found all the existing apps wanting.  
    </p>
    
    <p>
        The principal developer Adam Cross is a mathematician, and he developed Etch originally for his own personal use.
    </p>
    
    <p>
        At the heart of Etch is the due algorithm.  Your flashcards do not have rigid due dates assigned to them.  Rather, each time you log in to Etch, for each card, the program computes a score to estimate whether you need to review that card.  The algorithm adapts to each user, learning over time how to model your own needs.
    </p>
    
    <p>
        When you first enter a card into Etch, you have to indicate that you currently know it well&mdash;that you have memorized it.  Then it goes into spaced review.  The first review may be three days later.  You review the card, and you indicate that this review was just right or that it seemed "too soon" or "too late".  Here, we will click  the "too late" button if the review came so late that we could not remember the answer at all.
    </p>
    
    <p>
        Based on this feedback from the user, Etch adjusts some internal numbers it uses to help better understand you. For example, if you indicated that the review was too late, then it becomes more likely that all future cards in a similar situation will become due sooner.
    </p>
    
    <p>
        In general, as you progress, the interval between reviews increases.  Because of the adaptive learning, the particular way in which it increases is not some rigid mathematical formula.  It can continually adjust itself to better suit your needs.
    </p>
    
    <p>
        The purpose is to remember information&mdash;any information at all&mdash;indefinitely.
    </p>
    </div>
