<div class="long-text container-fluid">

    
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <p>
                XeroCross is a one-man operation run by principal developer Adam Cross.  Cross is a PhD mathematician with nearly a decade of teaching experience.  He is currently working as a freelance software engineer and actively seeking full-time software engineering work.  He is particularly interested in machine learning.  
            </p>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4">
            <%=image_tag image_path("xerocross1.png"),class:'img-responsive' %>
        </div>
    </div>
</div>
