.pad
  %ul{class:"nav nav-pills nav-stacked"}
    %li{role:"presentation"}
      =link_to study_review_path, nil do
        Review Cards Due
    %li{role:"presentation"}
      =link_to study_memorize_path, nil do
        Memorize New Cards
    %li{role:"presentation"}
      =link_to study_browse_path, nil do
        Study By Keyword